{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "globals": {
    "artifacts": "readonly",
    "contract": "readonly",
    "before": "readonly",
    "web3": "readonly",
    "assert": "readonly"
  },
  "rules": {
    "new-parens": 1,
    "array-callback-return": 1,
    "object-literal-sort-keys": 0,
    "padding-line-between-statements": [
      1,
      { "blankLine": "always", "next": "import", "prev": "let" },
      { "blankLine": "always", "next": "import", "prev": "var" },
      { "blankLine": "always", "next": "*", "prev": "directive" },
      { "blankLine": "always", "next": "*", "prev": "function" },
      { "blankLine": "always", "next": "function", "prev": "*" },
      { "blankLine": "always", "next": "*", "prev": "class" },
      { "blankLine": "always", "next": "class", "prev": "*" },
      { "blankLine": "always", "next": "export", "prev": "*" },
      { "blankLine": "always", "next": "*", "prev": "export" },
      { "blankLine": "always", "next": "cjs-export", "prev": "*" },
      { "blankLine": "always", "next": "*", "prev": "cjs-export" },
      { "blankLine": "always", "next": "cjs-import", "prev": "let" },
      { "blankLine": "always", "next": "cjs-import", "prev": "var" },
      { "blankLine": "always", "next": "cjs-import", "prev": "import" },
      { "blankLine": "always", "next": "import", "prev": "cjs-import" },
      { "blankLine": "always", "next": "class", "prev": "cjs-import" },
      { "blankLine": "always", "next": "function", "prev": "cjs-import" },
      { "blankLine": "always", "next": "let", "prev": "cjs-import" },
      { "blankLine": "always", "next": "var", "prev": "cjs-import" },
      { "blankLine": "always", "next": "class", "prev": "import" },
      { "blankLine": "always", "next": "function", "prev": "import" },
      { "blankLine": "always", "next": "let", "prev": "import" },
      { "blankLine": "always", "next": "var", "prev": "import" }
    ],
    "curly": [1, "all"],
    "unicode-bom": ["warn", "never"],
    "no-const-assign": 1,
    "no-this-before-super": 1,
    "no-duplicate-case": 1,
    "no-control-regex": 1,
    "no-empty-character-class": 1,
    "no-empty-pattern": 1,
    "no-invalid-regexp": 1,
    "no-iterator": 0,
    "no-dupe-args": 1,
    "no-ex-assign": 0,
    "no-func-assign": 0,
    "dot-notation": [2, { "allowKeywords": true }],
    "eqeqeq": [1, "always"],
    "getter-return": [1, { "allowImplicit": true }],
    "handle-callback-err": 2,
    "no-alert": 2,
    "no-buffer-constructor": 2,
    "no-caller": 2,
    "no-cond-assign": [2, "always"],
    "no-constant-condition": [1, { "checkLoops": false }],
    "no-debugger": 1,
    "no-else-return": 1,
    "no-empty": [2, { "allowEmptyCatch": true }],
    "no-eval": 2,
    "no-labels": ["warn", { "allowLoop": true, "allowSwitch": false }],
    "no-extra-bind": 1,
    "no-fallthrough": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-label": 1,
    "no-global-assign": [2, { "exceptions": [] }],
    "no-implicit-globals": 2,
    "no-label-var": 2,
    "no-lone-blocks": 1,
    "no-lonely-if": 2,
    "no-mixed-operators": [
      1,
      {
        "allowSamePrecedence": false,
        "groups": [
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
          ["&&", "||"],
          ["in", "instanceof"]
        ]
      }
    ],
    "no-new-symbol": 1,
    "no-multi-assign": 2,
    "no-multi-str": 2,
    "no-negated-in-lhs": 1,
    "no-native-reassign": 1,
    "no-obj-calls": 1,
    "no-octal": 1,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-require": 2,
    "no-new-wrappers": 2,
    "no-octal-escape": 2,
    "no-path-concat": 2,
    "no-proto": 2,
    "no-restricted-syntax": [
      2,
      { "selector": "WithStatement", "message": "with statement is deprecated" },
      { "selector": "SequenceExpression", "message": "The comma operator is confusing and a common mistake." }
    ],
    "no-script-url": 2,
    "no-self-assign": 1,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-setter-return": 1,
    "no-shadow-restricted-names": 1,
    "no-template-curly-in-string": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-unmodified-loop-condition": 2,
    "no-unreachable": 1,
    "no-unused-labels": 1,
    "no-useless-call": 1,
    "no-useless-computed-key": 1,
    "no-useless-concat": 1,
    "no-useless-escape": 1,
    "no-useless-rename": [1, { "ignoreDestructuring": false, "ignoreExport": false, "ignoreImport": false }],
    "no-useless-return": 1,
    "no-var": 2,
    "no-with": 1,
    "no-void": [2, { "allowAsStatement": true }],
    "object-shorthand": [1, "always", { "avoidQuotes": true, "ignoreConstructors": false }],
    "one-var": [1, "never"],
    "operator-assignment": [1, "always"],
    "prefer-arrow-callback": [1, { "allowNamedFunctions": true, "allowUnboundThis": true }],
    "prefer-const": [1, { "destructuring": "all", "ignoreReadBeforeAssign": true }],
    "prefer-exponentiation-operator": 1,
    "prefer-numeric-literals": 1,
    "prefer-regex-literals": 1,
    "prefer-rest-params": 1,
    "prefer-spread": 1,
    "prefer-template": 1,
    "no-loss-of-precision": 2,
    "no-unneeded-ternary": [2, { "defaultAssignment": false }],
    "no-unreachable-loop": 2,
    "no-useless-backreference": 2,
    "prefer-promise-reject-errors": 2,
    "use-isnan": [2, { "enforceForSwitchCase": true, "enforceForIndexOf": true }],
    "valid-typeof": [2, { "requireStringLiterals": true }],
    "no-return-await": 0,
    "require-yield": "warn",

    //node rules
    "node/no-deprecated-api": 2,
    "node/no-exports-assign": 2,
    "node/no-extraneous-import": 0,
    "node/no-missing-import": 0,
    "node/no-missing-require": 0,
    "node/no-unpublished-bin": 2,
    "node/no-unpublished-import": 0,
    "node/no-unpublished-require": 0,
    "node/no-unsupported-features/es-builtins": 2,
    "node/no-unsupported-features/es-syntax": 0,
    "node/no-unsupported-features/node-builtins": 2,
    "node/process-exit-as-throw": 2,
    "node/shebang": 0,
    "node/handle-callback-err": [2, "^(err|error)$"],
    "node/no-callback-literal": 2,
    "node/no-new-require": 2,
    "node/no-path-concat": 2
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "default-case": [1, { "commentPattern": "^nodefault$" }],
        "no-redeclare": [1, { "builtinGlobals": false }],
        "no-throw-literal": 2,
        "no-dupe-keys": 1,
        "no-implied-eval": 1
      }
    }
  ]
}
